<!DOCTYPE html>
<html ng-app="roiApp">
<head>
  <title>ROI Calculator</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script> -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.js"></script>
  <script src="./zayo_calc.js"></script>
  <link rel="stylesheet" href="./zayo_calc.css">
</head>

<body>

  <div class="container">
    <h2>ROI Calculator</h2>
    <div ng-controller="RevenueCtrl">
      <table class="table table-bordered table-condensed">
      <thead>
        <tr>
          <th class="col-md-3">Revenue Item</th>
          <th class="col-md-3">One Time</th>
          <th class="col-md-3">Monthly</th>
          <th class="col-md-3"></th>
        </tr>
      </thead>
      <tbody>

     <tr ng-repeat="revenue in revenues">
       <td class="done-{{revenue.done}}">{{revenue.text}}</td>
       <td class="done-{{revenue.done}}">{{revenue.oneTime | currency:"$"}}</td>
       <td class="done-{{revenue.done}}">{{revenue.monthly | currency:"$"}}</td>
       <td> <button ng-click="revenues.splice($index,1)" ng-change="change()" ng-model="recalcFieldsRev">Delete</button>  </td>
     </tr>

     <tr>
       <td colspan=4>
         <form ng-submit="addRevenue()" name="roiFormRevenue">
           <div class="col-xs-3">
           <input type="text" ng-model="revenueText" size="25" placeholder="add item">
           </div>
           <div class="col-xs-3">
             <input type="number" size="30" value="0" min="0" step=".01" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control currency" ng-model="revenueOneTime" placeholder="$0.00">
           </div>
           <div class="col-xs-3">
             <input type="number" ng-model="revenueMonthly" size="30" value="0" min="0" step="0.01" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control currency" placeholder="$0.00">
          </div>
          <div class="col-xs-3">
             <input class="btn-primary" type="submit" value="add revenue item" ng-disabled="roiFormRevenue.$pristine">
          </div>
         </form>
       </td>

     </tr>
   </tbody>
       </table>

       <div ng-controller="ExpenseCtrl">
         <table class="table table-bordered table-condensed">
         <thead>
           <tr>
             <th class="col-md-3">Expense Item</th>
             <th class="col-md-3">One Time</th>
             <th class="col-md-3">Monthly</th>
             <th class="col-md-3"></th>
           </tr>
         </thead>
         <tbody>
           <tr ng-repeat="expense in expenses">
             <td class="done-{{expense.done}}">{{expense.text}}</td>
             <td class="done-{{expense.done}}">{{expense.oneTime | currency:"$"}}</td>
             <td class="done-{{expense.done}}">{{expense.monthly | currency:"$"}}</td>
             <td> <button ng-click="expenses.splice($index,1)" ng-change="change()" ng-model="recalcFieldsExp">Delete</button>  </td>
           </tr>

           <tr>
             <td colspan=4>
               <form ng-submit="addExpense()" name="roiFormExpense">
                 <div class="col-xs-3">
                   <input type="text" ng-model="expenseText" size="25" placeholder="add item">
                 </div>
                 <div class="col-xs-3">
                   <input type="number" size="15" value="0" min="0" step="0.01" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control currency" ng-model="expenseOneTime" placeholder="$0.00">
                 </div>
                 <div class="col-xs-3">
                   <input type="number" ng-model="expenseMonthly" size="30" value="0" min="0" step="0.01" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control currency" placeholder="$0.00">
                </div>
                <div class="col-xs-3 margin-bottom-lg">
                   <input class="btn-primary" type="submit" value="add expense item" ng-disabled="roiFormExpense.$pristine">
                </div>
         </div>
               </form>
             </td>

           </tr>
           <tr>
             <td></td>
             <td><strong>One-Time Total</strong></td>
             <td><strong>Monthly Total</strong></td>
             <td><strong>Grand Total</strong></td>
           </tr>
           <tr>
             <td>Revenue</td>
             <td ng-bind="oneTimeTotalRevenues()"></td>
             <td ng-bind="monthlyTotalRevenues()"></td>
             <td ng-bind="grandTotalRevenues()"></td>
           </tr>
           <tr>
             <td>Expenses</td>
             <td ng-bind="oneTimeTotalExpenses()"></td>
             <td ng-bind="monthlyTotalExpenses()"></td>
             <td ng-bind="grandTotalExpenses()"></td>
           </tr>

           <tr>
             <td colspan=4><div class="margin-bottom-lg"></div></td>
           </tr>

           <tr>
             <td colspan=2><strong>Contribution Profit</strong></td>
             <td ng-bind="monthlyContributionProfit()"></td>
             <td ng-bind="totalContributionProfit()"></td>
           </tr>

           <tr>
             <td colspan=2><strong>Contribution Margin</strong></td>
             <td></td>
             <td ng-bind="contributionMargin()"></td>
           </tr>

           <tr>
             <td colspan=2><strong>Capital ROI (Months)</strong></td>
             <td></td>
             <td ng-bind="capitalRoi()"></td>
           </tr>

          </tbody>

    </table>
  </div>
</body>
</html>
